<a href="#" id="logo">logo</a>
<header class="sidebar" {% if page.nav == 'hide' %} style="display:none"{% else %}style="display:block"{% endif %}>
	<div class="inner">
		<h1 class="site-name">{{ site.name }}</h1>
		<p class="description">{{ site.description }}</p>
		<ul class="nav">
			<li><a href="#">home</a></li>
			<li><a href="#">blogs</a></li>
			<li><a href="#">works</a></li>
			<li><a href="#">slides</a></li>
			<li><a href="#">stuffs</a></li>
			<li><a href="#">about</a></li>
			<li><a href="#">Contact</a></li>
			<li><a href="#">archive</a></li>
			<li><a href="#">links</a></li>
		</ul>
		<div class="info">
			<div class="social">
				<a href="#"><span aria-hidden="true" class="icon-facebook"></span></a>
				<a href="#"><span aria-hidden="true" class="icon-github"></span></a>
				<a href="#"><span aria-hidden="true" class="icon-twitter"></span></a>
				<a href="#"><span aria-hidden="true" class="icon-instagram"></span></a>
			</div>
			<div class="copy-right">
				&copy;&nbsp;Brickhu.cn 2013
			</div>
		</div>
	</div>
</header>