$userColor: #ADD1CA;
$grayColor: #9b9b9b;
$blurSize: 5px;

.cover{
	background-color:$userColor;
	color:$userColor;
	position: relative;
	overflow: hidden;
}
.cover,.cover img,.cover .mask{
	width:100%;
}
.cover .mask{
	height:100%;
	background-color:rgba(0,0,0,0.2);
	position: absolute;
	text-align: center;
	z-index:2;
}
.cover .mask .inner{
	margin: 20% 10% 10% 10%;
	text-shadow:rgba(0,0,0,0.6) 0 0 5px;
	color:white;
}
.cover .mask h1{
	font-size:24px;
}
.intro{
	margin:2em 20% 3em 20%;
	text-align: center;
}
.intro h1{
	font-family: STFangsong;
}
.bigRoundBtn{
	background-color:$userColor;
	display:inline-block;
	height:40px;
	line-height:40px;
	width:128px;
	font-size:18px;
	color:white;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	margin-top:1em;
	font-weight: bold;
}
.bigRoundBtn:hover{
	color:white;
	text-decoration: none;
}
.date,.mata{
	color:$grayColor;
}
.intro p{
	margin:0;
	padding:0;
}
.location,.location a{
	color:$grayColor;
	font-weight: bold;
}
.location a:hover{
	color:$userColor;
}

/*--timeline--*/

.timeline{
	list-style:none;
	margin:0;
	padding:0.5em 0 2em 0;
}
.timeline li{
	padding:1.5em 1.5em 0.5em 5em;
	position: relative;
}
.timeline .userHead{
	position: absolute;
	left:1.5em;
}
.timeline .userHead img{
	width:2.4em;
	-webkit-border-radius: 1.2em;
	-moz-border-radius: 1.2em;
	border-radius: 1.2em;
}
.timeline .postContent p{
	margin:0;
	padding:0;
}
.timeline .singlePicture{
	padding:0.5em 0;
}
.timeline .singlePicture img{
	max-width: 10em;
	max-height:10em;
}
.timeline .muitiPictures{
	padding:0.5em 0 0 0;
}
.timeline .muitiPictures a{
	display:inline-block;
	width:5em;
	height:5em;
	overflow:hidden;
}
.timeline .mata .icons{
	font-size:0.8em;
}
.timeline .actionsForPost a{
	position: absolute;
	right:1em;
	display:inline-block;
	padding:0 0.5em;
	color:$grayColor;

}

/*--actionBar--*/

$barHeight: 3.2em;

.actionBar{
	height:3.2em;
}
.actionBar .inner{
	border-top: 1px solid #efefef;
	background:white;
	height:$barHeight;
	position: fixed;
	bottom:0;
	width:100%;
	padding:0 1em;
	line-height:$barHeight;
}
.inputTips{
	color:#ddd;
	font-size:18px;

}
.actionBar .btnMore{
	position: absolute;
	right:0;
	padding:0 1em 0 0;
}
.actionBar .btnMore .icons{
	border-left: solid 1px #eee;
	height:18px;
	line-height:18px;
	padding:0 0 0 1em;
	font-size:1.2em;
	color:$grayColor;
}



/*--base Components--*/

.icons {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'invitation';
  font-style: normal;
  font-weight: normal;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.blur {    
    -webkit-filter: blur($blurSize); 
       -moz-filter: blur($blurSize);
        -ms-filter: blur($blurSize);    
            filter: blur($blurSize);    
}
