$userColor: #ADD1CA;
$grayColor: #9b9b9b;

.cover{
	background-color:$userColor;
	color:$userColor;
}
.cover img{
	width:100%;
}
.intro{
	margin:2em 20% 3em 20%;
	text-align: center;
}
.intro h1{
	font-family: STFangsong;
}
.bigRoundBtn{
	background-color:$userColor;
	display:inline-block;
	height:40px;
	line-height:40px;
	width:128px;
	font-size:18px;
	color:white;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	margin-top:1em;
	font-weight: bold;
}
.bigRoundBtn:hover{
	color:white;
	text-decoration: none;
}
.date,.mata{
	color:$grayColor;
}
.intro p{
	margin:0;
	padding:0;
}
.location,.location a{
	color:$grayColor;
	font-weight: bold;
}
.location a:hover{
	color:$userColor;
}

/*--timeline--*/

.timeline{
	list-style:none;
	margin:0;
	padding:0.5em 0 2em 0;
}
.timeline li{
	padding:1.5em 1.5em 0.5em 5em;
	position: relative;
}
.timeline .userHead{
	position: absolute;
	left:1.5em;
}
.timeline .userHead img{
	width:2.4em;
	-webkit-border-radius: 1.2em;
	-moz-border-radius: 1.2em;
	border-radius: 1.2em;
}
.timeline .postContent p{
	margin:0;
	padding:0;
}
.timeline .singlePicture{
	padding:0.5em 0;
}
.timeline .singlePicture img{
	max-width: 10em;
	max-height:10em;
}
.timeline .muitiPictures{
	padding:0.5em 0 0 0;
}
.timeline .muitiPictures a{
	display:inline-block;
	width:5em;
	height:5em;
	overflow:hidden;
}

/*--actionBar--*/
.actionBar{
	border-top: 1px solid #efefef;
	background:white;
	height:3.2em;
	position: fixed;
	bottom:0;
	width:100%;
	padding:0 1em;
}
.inputTips{
	color:$grayColor;
	line-height:3.2em;
}