.cover {
  background-color: #add1ca;
  color: #add1ca; }

.cover img {
  width: 100%; }

.intro {
  margin: 2em 20% 3em 20%;
  text-align: center; }

.intro h1 {
  font-family: STFangsong; }

.bigRoundBtn {
  background-color: #add1ca;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  width: 128px;
  font-size: 18px;
  color: white;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  margin-top: 1em;
  font-weight: bold; }

.bigRoundBtn:hover {
  color: white;
  text-decoration: none; }

.date {
  color: #9b9b9b; }

.intro p {
  margin: 0;
  padding: 0; }

.location, .location a {
  color: #9b9b9b;
  font-weight: bold; }

.location a:hover {
  color: #add1ca; }
