$userColor: #ADD1CA;
$grayColor: #9b9b9b;
$blurSize: 0px;
$titleFont:LiSong Pro;
$picThumbSize:5em;
$borderColor:#efefef;

.cover{
	background-color:$userColor;
	color:$userColor;
	position: relative;
	overflow: hidden;
}
.cover,.cover img,.cover .mask{
	width:100%;
}
.cover .mask{
	height:100%;
	background-color:rgba(0,0,0,0.3);
	position: absolute;
	text-align: left;
	z-index:2;
}
.cover .mask:hover{
	text-decoration: none;
	background-color:rgba(0,0,0,0.5);
}
.cover .mask .inner{
	margin:0 3em 2em 2em; 
	text-shadow:rgba(0,0,0,0.6) 0 0 5px;
	color:white;
	position: relative;
}
.cover .mask h1{
	font-size:2em;
	font-family:$titleFont;
	font-weight:normal;
}
.cover .mask .icon-threedots{
	float:right;
	margin:0 -1.5em -0.5em 0;
}
.intro{
	margin:2em 10% 3em 10%;
	text-align: left;
}
.intro h1{
	font-family:$titleFont;
	padding-bottom:0.2em;
	font-weight:normal;
}
.bigRoundBtn{
	background-color:$userColor;
	display:inline-block;
	height:40px;
	line-height:40px;
	font-size:16px;
	color:white;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	margin-top:1em;
	font-weight: bold;
	text-align: center;
	padding:0 2em;
}
.bigRoundBtn:hover{
	color:white;
	text-decoration: none;
}
.date,.mata{
	color:$grayColor;
}
.eventMata{
	position: relative;
}
.eventMata p{
	margin:0;
	padding:0;
}
.eventMata,.eventMata a{
	color:$grayColor;
}
.eventMata a:hover{
	color:$userColor;
	text-decoration: none;
}
.eventMata .btnMore{
	display:block;
	position: absolute;
	right:0;
	bottom:0;
	width:1.5em;
	height:1.5em;
	padding-left:0.5em;
}
.eventDesc{
	margin-top:1em;
}

.eventReply{
	border-top: 1px solid $borderColor;
	margin-top:1.5em;
}
.eventReply h2{
	font-size:1em;
	color:$grayColor;
	font-weight:normal;
	margin:0;
	padding:0;
	line-height:3em;
}
.eventReply .btn-default{
	background-color:$userColor;
	color:#fff;
	border:none;
	margin-right:0.5em;
	padding:0.5em 1.2em;
}

.replyPanel{
	background-color:white;
	border-top: 1px solid $borderColor;
	padding-bottom:0.5em;
}
.replyPanel h2{
	font-size:1em;
	color:$grayColor;
	text-align:center;
	font-weight:normal;
}
.replyPanel .btn-group-vertical{
	padding:0.5em 1em;
} 
.replyPanel .btn-group-lg .btn{
	font-size:1.2em;
}

/*-------------------timeline-----------------*/

.timeline{
	list-style:none;
	margin:0;
	padding:0.5em 0 2em 0;
}
.timeline li{
	padding:1.5em 1.5em 0.5em 5em;
	position: relative;
}
.timeline .userHead{
	position: absolute;
	left:1.5em;
}
.timeline .userHead img{
	width:2.4em;
	-webkit-border-radius: 1.2em;
	-moz-border-radius: 1.2em;
	border-radius: 1.2em;
}
.timeline .postContent p{
	margin:0;
	padding:0;
}
.timeline .singlePicture{
	padding:0.5em 0;
}
.timeline .singlePicture img{
	max-width: 10em;
	max-height:10em;
}
.timeline .muitiPictures{
	padding:0.5em 0 0 0;
}
.timeline .muitiPictures a{
	display:inline-block;
	width:$picThumbSize;
	height:$picThumbSize;
	overflow:hidden;
}
.timeline .mata .icons{
	font-size:0.8em;
}
.timeline .actionsForPost a{
	position: absolute;
	right:1em;
	display:inline-block;
	padding:0 0.5em;
	color:$grayColor;

}

/*--actionBar--*/

$barHeight: 3.2em;

.actionBar{
	height:$barHeight;
}
.actionBar .inner{
	border-top: 1px solid #efefef;
	background:white;
	height:$barHeight;
	position: fixed;
	bottom:0;
	width:100%;
	padding:0 1em;
	line-height:$barHeight;
}
.inputTips{
	color:#ddd;
	font-size:18px;

}
.actionBar .btnMore{
	position: absolute;
	right:0;
	padding:0 1em 0 0;
}
.actionBar .btnMore .icons{
	border-left: solid 1px #eee;
	height:18px;
	line-height:18px;
	padding:0 0 0 1em;
	font-size:1.2em;
	color:$grayColor;
}

/*--post Panel--*/
.postPanel .inner{
	position:fixed;
	height:100%;
	background:#fff;
	z-index:3;
	top:0;
	width:320px;
}
.postPanel .title{
	text-align: center;
	height:4em;
}
.postPanel .title h4{
	margin:0;
	line-height:3em;
}
.postPanel .textarea{
	width:100%;
	border-top: 1px solid #efefef;
}
.postPanel .textarea input{
	border:none;
	padding:0.5em 1em;
	width:100%;
}

.postPanel .btn-post,.postPanel .btn-cancel{
	position: absolute;
	top:1em;
}
.postPanel .btn-post{
	right:1em;
}
.postPanel .btn-cancel{
	left:1em;
}
.postPanel .picSelect{
	padding:1em;
}
.postPanel .picSelect .btnAdd{
	width:$picThumbSize;
	height:$picThumbSize;
	display:inline-block;
	color:$grayColor;
	border:solid 1px #eee;
	text-align: center;
	line-height:$picThumbSize;
}

/*--base Components--*/

.icons {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'invitation';
  font-style: normal;
  font-weight: normal;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.blur {    
    -webkit-filter: blur($blurSize); 
       -moz-filter: blur($blurSize);
        -ms-filter: blur($blurSize);    
            filter: blur($blurSize);    
}
.centerBox{
	 display: -webkit-box;
  	-webkit-box-orient: horizontal;
  	-webkit-box-pack: center;
  	-webkit-box-align: center;
 
  	display: -moz-box;
  	-moz-box-orient: horizontal;
  	-moz-box-pack: center;
  	-moz-box-align: center;
  
 	display: box;
  	box-orient: horizontal;
  	box-pack: center;
  	box-align: center;
}
.bottomBox{
	 display: -webkit-box;
  	-webkit-box-orient: horizontal;
  	-webkit-box-pack: end;
  	-webkit-box-align: end;
 
  	display: -moz-box;
  	-moz-box-orient: horizontal;
  	-moz-box-pack: end;
  	-moz-box-align: end;
  
 	display: box;
  	box-orient: horizontal;
  	box-pack: end;
  	box-align: end;
}

@font-face {
  font-family: 'MingLiU';
  src: url('http://www.fontsaddict.com/fontface/mingliu.TTF');
}
